<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patientorganizerapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.patientorganizerapp.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.example.patientorganizerapp.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.CLEARSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName="com.example.patientorganizerapp.LoginActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.LoginActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.AddPatientActivity"
            android:label="@string/title_activity_add_patient"
            android:parentActivityName="com.example.patientorganizerapp.MenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.MenuActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.PatientActivity"
            android:label="@string/title_activity_patient"
            android:parentActivityName="com.example.patientorganizerapp.MenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.MenuActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.UpdateVitalsActivity"
            android:label="@string/title_activity_update_vitals"
            android:parentActivityName="com.example.patientorganizerapp.PatientActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.PatientActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.VitalsHistoryActivity"
            android:label="@string/title_activity_vitals_history"
            android:parentActivityName="com.example.patientorganizerapp.PatientActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.PatientActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.UpdatePrescriptionActivity"
            android:label="@string/title_activity_update_prescription"
            android:parentActivityName="com.example.patientorganizerapp.PatientActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.PatientActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.RecordDoctorTimeActivity"
            android:label="@string/title_activity_record_doctor_time"
            android:parentActivityName="com.example.patientorganizerapp.PatientActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.PatientActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.PrescriptionHistoryActivity"
            android:label="@string/title_activity_prescription_history"
            android:parentActivityName="com.example.patientorganizerapp.PatientActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.PatientActivity" />
        </activity>
        <activity
            android:name="com.example.patientorganizerapp.PatientsByUrgencyActivity"
            android:label="@string/title_activity_patients_by_urgency"
            android:parentActivityName="com.example.patientorganizerapp.MenuActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.patientorganizerapp.MenuActivity" />
        </activity>
    </application>

</manifest>
